<html lange = 'en'>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>개버랜드</title>
    <style>
        body {
            background-image : url('https://uploads-ssl.webflow.com/624fdc51fb8c8b78193d9734/62551ffa69d4ac41b3489ab2_main-banner-04.jpg');
            background-repeat : no-repeat;
            background-size : cover;
        }
    </style>
</head>
<body>
    <p> 개버랜드 배경화면 test  </p>
<div></div>
</body>
</html>